.mat-dialog-content{
    max-height: 81%;
  //  overflow-y: auto;
    scrollbar-width: thin;
}

.ml-5{
  margin-left: 5px;
}
.subHeaderFont{
  font-weight: 600;
  top: 11px;
  position: relative;
}
