.dvSlider{
  padding: auto;
}

.slider-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 10px 0;
  max-width: 284px;
}

.slider-name-label, .slider-value-label {
  font-weight: 600;
}